<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<head>
    <title>ADD NEW STUDENT</title>

    <meta charset="utf-8" />
    <link rel=
                  "stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src=
                    "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>
<div align="center">
    <h2>ADD NEW STUDENT</h2>

    <br/>
    <div class="col-sm-4">
        <form action="#" th:action="@{/saveStudents}" th:object="${students}" method="post">
            <!--ADD HIDDEN FORM FIELD TO HANDLE UPDATE-->
            <input type="hidden" th:field="*{id}"/>
            <table>
            <div align="left">

                <tr>

                    <td>
                        <input type="hidden" th:field="*{id}"/>
                        <input type="text" th:field="*{studentName}" class="form-control"
                        placeholder="student name"/>
                    </td>
                </tr>
            </div>
            <div align="left">
                <tr>
                    <td>
                        <input type="text" th:field="*{course}" class="form-control"
                        placeholder="course"/>
                    </td>
                </tr>
            </div>
            <div align="left">
                <tr>
                    <td>
                        <input type="text" th:field="*{fee}" class="form-control"
                        placeholder="course fee"/>
                    </td>
                </tr>
            </div>

                <tr>
                    <td colspan="2">
                        <button type="submit" class="btn btn-info">Save</button>

                    </td>
                </tr>
            </table>
        </form>



    </div>
</div>





</body>


</html>